body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  color: #2e2f42;
  text-decoration-line: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-team-item-titel,
.our-portfolio h3,
.our-features-item-titel {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
}

.our-team-titel,
.our-portfolio-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}

/* ---------------------HEADER---------------------- */

.header-content {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.16667;
  letter-spacing: 0.03em;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo span {
  color: #4d5ae5;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.header-link {
  padding: 24px 0;
}
.nav-menu-item {
  font-weight: 500;
}

.nav-menu-item a:hover {
  color: #404bbf;
}

.nav-menu-item a:active,
.nav-menu-item a:focus {
  color: #404bbf;
  text-decoration: underline;
}

ul {
  list-style: none;
}

.address {
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  color: #434455;
  font-style: normal;
}

.address-link {
  padding: 24px 0;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* ---------------------SOLUTIONS---------------------- */
.solution-contant {
  padding: 188px 0;
}
.main-titel {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.solution-section {
  background-color: #2e2f42;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 0 auto;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* ---------------------OUR FEATURES---------------------- */
.our-features {
  display: flex;
  padding: 120px 0;
  gap: 24px;
}
.our-features-item {
  max-width: calc((100% - 72px) / 4);
}

.our-features-item-titel {
  margin-bottom: 8px;
}
/* ---------------------OUR TEAM---------------------- */
.our-team-container {
  padding: 120px 0;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.our-team-item {
  max-width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
}

.our-team-text {
  margin: 32px 16px;
}
.our-team-item-titel {
  margin-bottom: 8px;
  text-align: center;
}

.our-team ul li p {
  text-align: center;
}

/* ---------------------OUR PORTFOLIO---------------------- */
.out-portfolio-container {
  padding: 120px 0;
}

.our-portfolio-titel {
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.our-portfolio-item {
  max-width: calc((100% - 48px) / 3);
}

.our-portfolio-item-text {
  margin: 32px 16px;
}

.our-portfolio-item-titel {
  margin-bottom: 8px;
}
/* ---------------------FOOTER---------------------- */

.footer-cantainer {
  padding: 100px 0;
}

.footer-logo {
}

.footer {
  background-color: #2e2f42;
}

.footer-text {
  margin-top: 16px;
  max-width: 264px;
}

.footer a,
.footer p {
  color: #f4f4fd;
}
